html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.digital-clock{
    display: flex;
}

.digital-clock > div{
    display: flex;
}

.buttons{
    display: flex;
}